@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800;900&display=swap");
h1 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

h2 {
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f0f0f0;
  position: relative;
}

.button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
.button svg {
  width: 30px;
  fill: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #073b4c;
  padding: 10px;
  height: 60px;
  position: relative;
}
.nav-container .hamburger-menu {
  display: none;
  margin-right: 10px;
}
.nav-container .logo {
  text-transform: uppercase;
  color: #fff;
  margin-right: auto;
  flex-shrink: 0;
}
.nav-container .logo h3 {
  font-size: 20px;
}
.nav-container .search-open {
  background-color: #073b4c;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.nav-container .search-open .close-search {
  margin-right: 10px;
}
.nav-container .search-open .search-input {
  flex-grow: 1;
  padding-left: 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  border: 1px solid #fff;
}
.nav-container .search-open .search-input:focus {
  border: 1px solid #219ebc;
}
.nav-container .search-open.hide {
  display: none;
}
@media screen and (min-width: 900px) {
  .nav-container .search-open {
    position: relative;
    padding: 0;
  }
  .nav-container .search-open .search-input {
    margin-left: auto;
  }
  .nav-container .search-open.hide {
    display: flex;
  }
  .nav-container .logo {
    min-width: 250px;
  }
}
.nav-container .user-input {
  padding: 8px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #fff;
}
.nav-container .user-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.nav-container .user-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.nav-container .user-input::placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.nav-container .search-btn {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #219ebc;
  margin-left: 10px;
  padding: 0 10px;
}
.nav-container .mobile-search-icon {
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #073b4c;
  margin-left: 10px;
  padding: 0 10px;
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  position: relative;
}
.content-container .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  min-height: calc(100vh - 60px);
}
.content-container .mask.is-visible {
  display: block;
}

.filters-container {
  background-color: #fff;
  border-radius: 4px;
  width: 250px;
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 10px;
}
.filters-container h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
.filters-container .tabs-container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.filters-container .tab-button {
  cursor: pointer;
  width: 50%;
  outline: none;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-bottom: 3px solid #fff;
}
.filters-container .tab-button.selected {
  border-bottom: 3px solid #219ebc;
}
.filters-container .filter-item {
  padding: 10px 20px;
  border-left: 3px solid #fff;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.filters-container .filter-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.filters-container .filter-item.selected {
  border-left: 3px solid #219ebc;
  background: rgba(0, 0, 0, 0.1);
}

.result-container {
  background-color: #fff;
  border-radius: 4px;
  flex-grow: 1;
  margin-top: 10px;
}

.result-count {
  padding: 20px;
}

.recipes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.recipes-container .recipe-card {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin: 5px;
  width: 100%;
  cursor: pointer;
}
.recipes-container .recipe-card h3 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}
.recipes-container .recipe-card img {
  width: 100%;
  display: block;
  border-radius: 15px;
}
@media screen and (min-width: 400px) {
  .recipes-container .recipe-card {
    max-width: 300px;
  }
}
@media screen and (min-width: 600px) {
  .recipes-container .recipe-card {
    max-width: 250px;
  }
}

.single-recipe-container {
  padding: 30px;
}
.single-recipe-container .recipe-title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.single-recipe-container img {
  width: 100%;
  max-width: 300px;
  display: block;
  border-radius: 15px;
  margin: 0 auto;
}
.single-recipe-container h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.single-recipe-container .ingredients {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.single-recipe-container .ingredients li {
  margin-bottom: 10px;
}
.single-recipe-container .instructions .instruction {
  margin-bottom: 10px;
}

.navigate-back {
  border: none;
  outline: none;
  background-color: #219ebc;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.navigate-back svg {
  fill: #fff;
  width: 25px;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .filters-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: -250px;
    transition: all ease-in-out 0.3s;
    margin-top: 0;
    min-height: calc(100vh - 60px);
  }
  .filters-container.is-open {
    left: 0;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }
  .nav-container .hamburger-menu {
    display: block;
  }
}
.hide {
  display: none;
}

@media screen and (min-width: 900px) {
  .desktop-hide {
    display: none;
  }
}
.search-result-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  z-index: 1;
}

.search-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: -1;
}

.search-recipes-container {
  margin: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 50px;
}
.search-recipes-container .search-recipe-card {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.search-recipes-container .search-recipe-card img {
  width: 40px;
  border-radius: 4px;
  margin-right: 10px;
}
.search-recipes-container .search-recipe-card h3 {
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .search-recipes-container {
    width: calc(100vw - 260px);
    margin-left: 260px;
  }
}/*# sourceMappingURL=style.css.map */